body{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.header{
    text-align: center;
    padding: 3px;
    margin-top: 200px;
    height: 40px;
    width: 280px;
    background-image: linear-gradient(to left, rgb(173, 173, 230),blue);
    color: white;
    border-radius: 5px;
    
}
a {
    color: white;
    text-decoration: none;
}
 a:hover{
    border-bottom: 2px solid;
    
}
.header:hover{
    background-image: linear-gradient(to right, rgb(173, 173, 230),blue);
    
}
